<head>
<meta charset='utf-8' />
<title>
s4environment
</title>
</head>
<div style='width:100%;height:100%;display:flex;justify-content:center;align-items:center;'>
<%= image_tag('logo.png', alt: 's4environment', style:'max-height:65%;') %>
</div>
<div style='width:100%;height:100%;display:flex;justify-content:center;align-items:center;'>
<h1>Site en construction</h1>
</div>
